# Ignore build artifacts
/build/
target/
*.class

# Ignore IDE files
.vscode/
.idea/
.github/

datalake/
*.db
control_log.txt

inverted_index.json
progress.json
catalog.json
progress_parser.json

dependency-reduced-pom.xml